<p id="notice"><%= notice %></p>

<div class="container">	 
	<div class="row">
        <div id = "prof_box" class=" col-md-3">
			<img class="img-responsive" src="<%= @user.pic_url %>">
				<table class="table table-striped">
				<!--   <thead>
				    <tr>
				      <th>Name</th>
				      <th>Email</th>
				    </tr>
				  </thead> -->

				  <tbody>
				      <tr>
				        <td><%= @user.name %></td>
				      	<td><%= @user.email %></td>

				      	<ul role="presentation" class="active"><a href="/albums/new">Add Album</a></ul>

				      	<td><a href="/albums/new">Add Album</a></td>.


				      </tr>
				  </tbody>
				</table>
			<br>			
		</div>
		<div id="prof_content" class= "col-md-9">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Cover</th>
						<th>Artist</th>
						<th>Album</th>
						<th>Year</th>
						<th>Label</th>
						<th>Format</th>
						<th>Pressing</th>
						<th>Edit</th>
						<th>Delete</th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<% @albums.each do |album| %>
      					<tr>
        			<td >

        				<%= link_to album do %>
        				<%image_tag album.image_url, :class => "thumbnail" %> 
        				<%end%>
        			 </td>
        				<td><%= album.artist %></td>
        				<td><%= album.title %></td>
        				<td><%= album.year %></td>
						<td><%= album.label %></td>						
						<td><%= album.format %></td>					
						<td><%= album.pressing%></td>
						<td><%= link_to 'Edit', edit_album_path(album) %></td>
						
							<td><%= button_to "delete", album_path(:id => album), :method => :delete %></td> 

						</tr>
					 <%end%>
					
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>
<br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
