<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Pressing:</strong>
  <%= @album.pressing %>
</p>

<p>
  <strong>Label:</strong>
  <%= @album.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>

<p>
  <strong>Image:</strong>
 <img src= "<%=@album.image_url %>">
</p>

<p>
  <strong>Tracklist:</strong>
  <%= @album.tracklist %>
</p>

<p>
  <strong>Country:</strong>
  <%= @album.country %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @album.comment %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @album.favorite %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %> -->

<p id="notice"><%= notice %></p>

<div class="container">  
  <div class="row">
    <div id = "prof_box" class="col-md-3 col-sm-3">
      <img id="prof_pic" src="<%= @album.image_url %>">
        <table class="table table-striped">
        <!--   <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead> -->

          <tbody>
              <tr>
                <td>Artist: <%= @album.artist %></td>
              </tr>
              <tr>  
                <td>Title: <%= @album.title %></td>
              </tr>
              <tr>  
                <td>Year: <%= @album.year %></td>
              </tr>
               <tr>  
                <td>Label: <%= @album.label %></td>
              </tr>
              <tr>  
                <td>Format: <%= @album.format %></td>
              </tr>
              <tr>  
                <td>Pressing: <%= @album.pressing %></td>
              </tr>
              <tr>  
                <td>Country: <%= @album.country %></td>
              </tr>
              <tr>
                <td>Added by: <%= @added_by.name %></td>
              </tr>
          </tbody>
        </table>
      <br>      
    </div>
    <div id="prof_content" class= "col-md-9">
      <h1><%= @album.artist %></h1>
      <h3><%= @album.title %></h3><br><br>      
    </div>
  </div>
</div>
<br>
<br>