<!DOCTYPE html>
<html>
  <head>
    <title>RecordKeeper</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body style="background-color: #dbdbdb">
    <div class="container">
      <div class="row jumbotron">
        <h1 id="title"><a href="/"><span id="rec">REC</span>ordKeeper</a></h1>
      </div>
      <div id="body" class="row panel panel-default">  
        <div class="panel-body col-md-12">
          <div class="col-md-4" role="navigation">
             <div class="nav">
              <% if current_user %>
                <%= link_to "Home", albums_path %> | 
                <%= link_to "Profile", user_path(current_user.id) %>
              <% else %>
                <%= link_to "Home", albums_path %> | 
                <%= link_to "Profile", :login %>
              <% end %>
            </div>
          </div>
          <div style="text-align: center" class="col-md-4">
              <%= form_tag(albums_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search for..." %>
              <%= submit_tag "Search" %>
              <% end %>
          </div>
           <div class="col-md-4">
            <div class="nav" id="login">
              <% if current_user %>
                <%= link_to "Edit Profile", edit_user_path(current_user.id) %> | 
                <%= link_to "Logout", :logout, method: :post %>
              <% else %>
                <%= link_to "Register", new_user_path %> | 
                <%= link_to "Login", :login %>
              <% end %>
            </div>
          </div>
          <div>
            <p id="alert"><%= flash[:alert] %></p>
          </div>
          <div class="row">
            <div class="col-md-12">
          <%= yield %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

